@use '../../style.scss';

.container {
  width: 1080px;
  height: 1920px;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  background-color: style.$yellow;
  color: style.$black;

  img {
    width: 220px;
    margin: 0 auto;
  }
}

.textReady {
  font-size: 96px;
}

.finishText {
  font-size: 48px;
}